body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #4099ff; }

table {
  width: 100%;
  border-collapse: collapse; }


tr:hover {
  background: #eeeeee !important; }

th {
  background: #eee;
  text-transform: uppercase;
  font-weight: normal;
  color: #999;
}
tr.border_bottom td {
    border-bottom:1pt solid black;
  }
td, th {
  padding: 16px;
  text-align: left;
}

td {
  color: #666;
}
  @media (max-width: 480px) {
    td {
      padding: 12px; }
	}

.container {
  padding: 16px 64px;
}
@media (max-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
	 }
	}
@media (max-width: 480px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
		}
	 }


header {
  background: #f7f7f7;
  font-size: 16px;
  color: #fff;
  display: block;
 }
header h4{
  font-weight: bold;
}
header small{
  display: block;
}
header small.bal{
  color: #b0b3b3;
}
header small.income{
  float: left;
  margin-right: 10px;
}
.income{
  color: green;
}
.spend{
  color: red;
}

.errorText{
	text-align: center;
	font-size: 2rem;
	line-height: 2rem;
	margin-top: 5rem;
	color: #9e9ea2;
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
i {
	border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
		cursor: pointer;
}

  .data-table .delete img {
    width: 25px;
   }
